* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
    
    
    
}
/* NAV BAR*/

.navbar {
    display: flex;
    /* position: relative; */
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar1 {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    
}
.toggle-button .bar2 {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
   
}
.toggle-button .bar3 {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
   
}

@media (max-width: 600px) {
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
/*NAV BAR END*/


/*SLIDESHOW CAROSUEL*/

.hwtest{
    background-size: cover;
    height: 50vh;
    width: 100vw;
    display: inline-block;
    background-position: center center;

}

#slider{
    overflow: hidden;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    box-sizing: border-box;
}

#slider figure img{
    width: 20%;
    float: left;
    
}

@keyframes slider  {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
} 
/*END OF CAROSULEO*/



/* ABOUT KSLAYS */
#about-me h1{
    color: white;
    text-align: center;
}
#about-me h2{
    color: white;
    text-align: center;
}
/* END OF ABOUT KSLAYS */


/*PRICE LIST*/
/* Create three columns of equal width */
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
    text-align: center;
    
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    transform: scale(1.1);
    z-index: 1;
    border-radius: 25px;
    
  }
  
  /* Pricing header */
  .price .header {
    background-color: #111;
    color: white;
    font-size: 35px;
    
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: rgb(135, 130, 130);
    font-size: 30px;
  }
  
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
    .price img{
        height: 30rem;
    }
  }
  @media (max-width: 600px) {
   
    .price img{
        height: 30rem;
    }
  }

  @media only screen and (min-width: 600px) {
  
    .toggle-button .bar1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle-button .bar2 {
        opacity: 0;
    }
    .toggle-button .bar3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }
    .price img{
        width: 100%;
    }
  }
  @media(min-width: 600px) {
    .price img{
        width: 100%;
    }
  }
 .price img{
    /* height: 50rem; */
    border-radius: 25%;
    
}


/*END OF PRICE LIST*/

/*FOOTER*/

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: static;
  }
  
  footer p {
    margin: 0;
    font-size: 2rem;
  }
  
  footer i {
    font-size: 5rem;
    margin: 1rem 3rem;
  }

  footer a{
    color: white;
  }
  footer h3{
      font-size: 1.5rem;
  }
  /*END OF FOOTER*/